body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.addNewBg {
  background: url(../images/bg.png) no-repeat top center;
}

.addtabCs {
  padding-top: 15px;
}

.addBtnCs {
  margin: 14px 0px 0px 30px;
}

.addSpanCs {
  font-weight: bold;
}

.addPCs {
  box-sizing: border-box;
  padding: 10px 20px;
  margin-right: 20px;
  line-height: 3em;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #BDC3C7;
}

.addAmountCs {
  font-size: 18px;
  font-weight: bold;
}

.addSwitchBg {
  border: 1px solid #C0392B;
  background: url(../images/iconfont-zhengque.png) no-repeat bottom right;
  color: #c0392b;
  font-weight: bold;
}

.addACs {
  color: #3498DB
}

table.addTableCs tbody tr td {
  vertical-align: middle;
}

table.addTableCs thead tr th {
  text-align: center;
}

.addIframeCs {
  border: 0;
  width: 100%;
  height: 530px;
}

div.addJumbotronBg {
  background-color: rgba(255, 255, 255, .4);
  /* IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂，但解析为透明 */
}

.addNewBg1 {
  box-sizing: border-box;
  background-color: white;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}

.addSpanUnderLine {
  padding: 0 10px;
  text-decoration: underline;
}

.addWordCs {
  padding: 10px;
  height: 380px;
  background-color: #FFFFFF;
  overflow-y: auto;
  margin-bottom: 20px;
}

.addWordCs p {
  font-size: 14px;
  text-indent: 2em;
  line-height: 28px;
}

.addWordCs h4 {
  font-weight: bold;
  line-height: 2em;
}

.addblodCs {
  font-weight: bold
}

.addRowCs {
  margin: 10px 0px;
}

.addBgColor {
  background-color: #fffff;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
}

/*----------- 3.16.17:08 ------------*/
.addTitleBg1{
  margin-bottom:20px;
}
.addTitleBg1 p{
  border-bottom: 1px solid #DCDCDC;
  line-height:28px;
}
.spanTitleCs{
  font-size:18px;
  font-weight:bold;
  line-height:28px;
  padding:4px 10px;
  border-bottom:3px solid #CCC;  
}
.addTooltipCs{
  opacity: 1;
  font-size:12px;
  margin-top:3px;
}
.addTooltipCs.tooltip.right .tooltip-arrow{
  border-right-color:#ECF0F1;
}
.addTooltipCs .tooltip-inner{
  background-color:#ECF0F1;
  color:#2C3E50;
  padding:10px;
}
.addPayCs{
  margin-bottom:25px;
}
.addFontSize18{
  font-size:16px;
}
.addListSpan span{
  margin-right:10px;
}
.addTableTltle th{
  text-align: center;
}
