<!DOCTYPE html>
<html>
<head>
    <title>$!page_title</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta name="_context_url" content="$request.getContextPath()"/>
    $!meta
    <link rel="stylesheet" href="$request.getContextPath()/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/static/css/bootstrap-theme.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="$request.getContextPath()/static/js/html5shiv.min.js"></script>
    <script src="$request.getContextPath()/static/js/respond.min.js"></script>
    <![endif]-->

    <!-- Switch -->
    <link rel="stylesheet" href="$request.getContextPath()/static/css/switch.css">
    <!-- DatetimePicker -->
    <link rel="stylesheet" href="$request.getContextPath()/static/css/datetimepicker.min.css">
    <link rel="stylesheet" href="$request.getContextPath()/static/css/rock-core.min.css">
    $!style
</head>
<body>
<div class="content">
    <div id="top" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-nav-items">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="$request.getContextPath()/">Rock Framework</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="top-nav-items">
                <ul class="nav navbar-nav">
                    <li name="link-1">#link("$request.getContextPath()/" "" "首页")</li>
                    <li name="link-2">#link("$request.getContextPath()/demo/web_components/" "" "前端组件")</li>
                    <li name="link-3">#link("$request.getContextPath()/demo/console/1/" "" "控制台布局")</li>
                    <li name="link-4" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">下拉菜单 <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">菜单项 A</a></li>
                            <li><a href="#">菜单项 B</a></li>
                            <li class="divider"></li>
                            <li><a href="#">菜单项 C</a></li>
                            <li class="divider"></li>
                            <li><a href="#">菜单项 D</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="$request.getContextPath()/admin/branches/" title="系统管理" target="_blank">系统管理</a></li>
                    <li><a href="#">帮助</a></li>
                    <li><a>|</a></li>
                    #if($_user)
                    <li><p class="navbar-text">&nbsp;欢迎， $_username. <a class="navbar-link" id="logout" href="#">登出</a></p></li>
                    #else
                    <li><p class="navbar-text">&nbsp;<a class="navbar-link"
                                                        href="$request.getContextPath()/login/?next=$vtEscape.url($request.getServletPath())">登入</a>
                    </p></li>
                    #end
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default">
                      <i class="glyphicon glyphicon-search"></i>
                  </button>
                </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                $!sidebar
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                $!main_content
            </div>
        </div>
    </div>
</div>
<div class="sys-alert-message alert hidden">
    <b id="sys-alert-title"></b>
    <span id="sys-alert-body"></span>
</div>
</body>
<script src="$request.getContextPath()/static/js/jquery.1.11.0.min.js"></script>
<script src="$request.getContextPath()/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="$request.getContextPath()/static/js/ie10-viewport-bug-workaround.js"></script>
<!-- Switch -->
<script src="$request.getContextPath()/static/js/switch.min.js"></script>
<!-- DatetimePicker -->
<script src="$request.getContextPath()/static/js/datetimepicker.min.js"></script>
<script src="$request.getContextPath()/static/js/dtpicker-locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="$request.getContextPath()/static/js/jquery-dateFormat.min.js"></script>
<script src="$request.getContextPath()/static/js/rock.core.min.js"></script>
<script>
    $(function () {
        $(".navbar-nav li[name|='link']").hover(function () {
            $(this).addClass("active");
        }, function () {
            $(this).removeClass("active");
        });
    });
</script>
$!script
</html>